/* scss/index.scss */
/* settings/index.scss */
/* _reset.scss */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

input, select {
  border: none;
  outline: none;
}

/* _fonts.scss */
/* _vars.scss */
/* _mixins.scss */
/* _global.scss */
body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding-top: 50px;
  color: #000;
  background: #fff;
}
body.dark {
  color: #fff;
  background: #333;
}
body.hidden {
  overflow-y: hidden;
}
@media (min-width: 1150px) {
  body {
    padding-top: 80px;
  }
}

.container {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 690px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .container {
    max-width: 930px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1110px;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* components/index.scss */
/* _preloader.scss */
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader.dark {
  background: #333;
}
.preloader__wrapper {
  position: relative;
  width: 10vh;
  height: 10vh;
  animation: rotate 3s infinite linear;
  z-index: 11;
  border: 1px dashed yellow;
  border-radius: 50%;
}
.preloader__item {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: orange;
  border: #000;
  border-radius: 50%;
  z-index: 12;
}
.preloader__item.green {
  background: green;
  border: 2px dashed blue;
}
.preloader__item.yellow {
  background: yellow;
  border: 2px dashed red;
}
.preloader__item.red {
  background: red;
  border: 2px dashed yellow;
}
.preloader__item.blue {
  background: blue;
  border: 2px dashed green;
}
.preloader__item:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce-primary 2s infinite ease-in-out;
}
@keyframes bounce-primary {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.preloader__item:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  animation: bounce-secondary 2s infinite ease-in-out;
}
@keyframes bounce-secondary {
  0% {
    transform: translate(50%, -50%) scale(0);
  }
  50% {
    transform: translate(50%, -50%) scale(1);
  }
  100% {
    transform: translate(50%, -50%) scale(0);
  }
}
.preloader__item:nth-child(3) {
  bottom: 0;
  right: 50%;
  animation: bounce-tertiary 2s infinite ease-in-out;
}
@keyframes bounce-tertiary {
  0% {
    transform: translate(50%, 50%) scale(1);
  }
  50% {
    transform: translate(50%, 50%) scale(0);
  }
  100% {
    transform: translate(50%, 50%) scale(1);
  }
}
.preloader__item:nth-child(4) {
  left: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: bounce-quaternary 2s infinite ease-in-out;
}
@keyframes bounce-quaternary {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* _progress-bar.scss */
.progress-bar {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 2px;
  background: #00BEFF;
  z-index: 2;
}
@media (min-width: 1150px) {
  .progress-bar {
    top: 78px;
  }
}

/* _header.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
  color: currentColor;
  fill: currentColor;
}
@media (min-width: 1150px) {
  .header {
    height: 80px;
    border-bottom: 2px solid #333;
  }
}
.header.dark {
  background: #333;
}
.header__wrapper {
  border-bottom: 2px solid #333;
  height: 50px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  background: inherit;
}
@media (min-width: 768px) {
  .header__wrapper {
    max-width: 690px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .header__wrapper {
    max-width: 930px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .header__wrapper {
    max-width: 1110px;
  }
}
.header__nav {
  background: inherit;
  height: 100%;
}
@media (min-width: 1150px) {
  .header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__logo {
  display: block;
  height: 30px;
}
@media (min-width: 1150px) {
  .header__logo {
    height: 40px;
  }
}
.header__logo svg {
  height: 100%;
}
.header__list {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background: inherit;
  transform: translateY(-150%);
  transition: transform 0.5s;
}
@media (min-width: 1150px) {
  .header__list {
    position: static;
    transform: translateY(0);
    flex-direction: row;
    z-index: 1;
    overflow-y: hidden;
  }
}
.header__list.active {
  transform: translateY(0);
}
.header__list.dark {
  color: #fff;
  background: inherit;
}
.header__item {
  border-bottom: 1px solid #AAA;
  color: currentColor;
}
@media (min-width: 1150px) {
  .header__item {
    margin-left: 40px;
    padding: 0;
    border-bottom: none;
  }
  .header__item:first-of-type {
    margin-left: 0;
  }
}
.header__item button {
  padding: 24px 0 24px 15px;
  font-size: 24px;
}
@media (min-width: 1150px) {
  .header__item button {
    padding: 0;
    overflow: hidden;
    font-size: 20px;
  }
  .header__item button::after {
    content: url("");
    display: block;
    height: 1px;
    background: currentColor;
    transform: translateX(-110%);
    transition: all 0.5s;
  }
  .header__item button:hover::after {
    transform: translateX(0);
  }
}
.header__theme {
  margin-left: auto;
  height: 30px;
  width: 30px;
}
@media (min-width: 1150px) {
  .header__theme {
    margin-left: 40px;
  }
}
.header__theme svg {
  height: 100%;
}
.header__burger {
  margin-left: 20px;
  height: 20px;
  width: 30px;
}
.header__burger span {
  transform: translateY(-50%);
  display: block;
  height: 2px;
  width: 30px;
  background: currentColor;
  margin-bottom: 6px;
  transition: 0.5s all;
}
.header__burger.active span:nth-child(1) {
  transform: rotate(-45deg) translateY(5.5px);
}
.header__burger.active span:nth-child(2) {
  display: none;
}
.header__burger.active span:nth-child(3) {
  transform: rotate(45deg) translateY(-6px);
}
.header__burger.dark span {
  background: #fff;
}
@media (min-width: 1150px) {
  .header__burger {
    display: none;
  }
}

/* _download.scss */
.download {
  padding: 30px 0;
  background: inherit;
}
.download__wrapper {
  border: 3px dashed aquamarine;
}
@media (min-width: 768px) {
  .download__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1150px) {
  .download__wrapper {
    gap: 40px;
  }
}
@media (min-width: 768px) {
  .download__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.download__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
}
@media (min-width: 768px) {
  .download__title {
    font-size: 36px;
  }
}
@media (min-width: 1150px) {
  .download__title {
    font-size: 42px;
  }
}
@media (min-width: 1440px) {
  .download__title {
    font-size: 56px;
  }
}
.download__copy {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .download__copy {
    margin-top: 20px;
  }
}
@media (min-width: 1150px) {
  .download__copy {
    font-size: 18px;
    line-height: 170%;
  }
}
@media (min-width: 1440px) {
  .download__copy {
    margin-top: 20px;
    font-size: 20px;
  }
}
.download__links {
  margin-top: 20px;
  border: 2px dashed yellowgreen;
}
@media (min-width: 768px) {
  .download__links {
    display: flex;
  }
}
.download__link {
  display: block;
  margin-top: 15px;
  height: 44px;
  width: 150px;
}
@media (min-width: 768px) {
  .download__link {
    margin-top: 0;
  }
}
.download__link:first-of-type {
  margin-top: 0;
}
@media (min-width: 768px) {
  .download__link:last-of-type {
    margin-left: 20px;
  }
}
.download__link svg {
  height: 100%;
  width: 100%;
}
.download__image {
  margin-top: 30px;
  height: 72vw;
  border: 1px solid #AAAAAA;
  border-radius: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .download__image {
    margin-top: 0;
    height: 260px;
  }
}
@media (min-width: 1150px) {
  .download__image {
    height: 350px;
  }
}
@media (min-width: 1440px) {
  .download__image {
    height: 400px;
  }
}
.download__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}
@media (min-width: 1150px) {
  .download__image img:hover {
    cursor: pointer;
    transition: scale(1.1);
  }
}

/* _warranty.scss */
.warranty {
  padding: 30px 0;
  background: inherit;
}
@media (min-width: 768px) {
  .warranty__wrapper {
    max-width: 768px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-auto-flow: dense;
  }
}
@media (min-width: 1150px) {
  .warranty__wrapper {
    max-width: 1150px;
  }
}
@media (min-width: 1440px) {
  .warranty__wrapper {
    max-width: 1440px;
  }
}
@media (min-width: 768px) {
  .warranty__body {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.warranty__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 140%;
}
@media (min-width: 768px) {
  .warranty__title {
    font-size: 30px;
  }
}
@media (min-width: 1150px) {
  .warranty__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .warranty__title {
    font-size: 40px;
  }
}
.warranty__copy {
  margin-top: 10px;
}
.warranty__copy:first-of-type {
  margin-top: 20px;
}
@media (min-width: 1150px) {
  .warranty__copy {
    font-size: 18px;
    line-height: 150%;
  }
}
@media (min-width: 1440px) {
  .warranty__copy {
    margin-top: 20px;
    font-size: 20px;
    line-height: 150%;
  }
  .warranty__copy:first-of-type {
    margin-top: 30px;
  }
}
.warranty__image {
  margin-top: 30px;
  height: 72vw;
  border: 1px solid #AAA;
  border-radius: 20px;
  overflow: hidden;
}
.warranty__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .warranty__image {
    margin-top: 0;
    height: 260px;
  }
}
@media (min-width: 1150px) {
  .warranty__image {
    height: 350px;
  }
}
@media (min-width: 1440px) {
  .warranty__image {
    height: 400px;
  }
}

/* _care.scss */
.care {
  padding: 30px 0;
  background: inherit;
}
@media (min-width: 768px) {
  .care__wrapper {
    max-width: 768px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1150px) {
  .care__wrapper {
    max-width: 1150px;
  }
}
@media (min-width: 1440px) {
  .care__wrapper {
    max-width: 1440px;
  }
}
@media (min-width: 768px) {
  .care__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.care__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 150%;
  color: currentColor;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .care__title {
    font-size: 30px;
  }
}
@media (min-width: 1150px) {
  .care__title {
    font-style: 34px;
  }
}
@media (min-width: 1440px) {
  .care__title {
    font-style: 40px;
  }
}
.care__copy {
  margin-top: 10px;
}
.care__copy:first-of-type {
  margin-top: 20px;
}
@media (min-width: 1150px) {
  .care__copy {
    font-size: 18px;
    line-height: 150%;
  }
}
@media (min-width: 1440px) {
  .care__copy {
    margin-top: 20px;
    font-size: 20px;
    line-height: 150%;
  }
  .care__copy:first-of-type {
    margin-top: 30px;
  }
}
.care__image {
  margin-top: 30px;
  height: 72vw;
  border: 1px solid #AAA;
  border-radius: 20px;
  overflow: hidden;
}
.care__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .care__image {
    margin-top: 0;
    height: 260px;
  }
}
@media (min-width: 1150px) {
  .care__image {
    height: 350px;
  }
}
@media (min-width: 1440px) {
  .care__image {
    height: 400px;
  }
}

/* _cashback.scss */
.cashback {
  padding: 30px 0;
  background: inherit;
}
@media (min-width: 1150px) {
  .cashback {
    padding: 40px 0;
  }
}
@media (min-width: 1440px) {
  .cashback {
    padding: 50px 0;
  }
}
@media (min-width: 768px) {
  .cashback__wrapper {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 460px;
  }
}
@media (min-width: 1150px) {
  .cashback__wrapper {
    padding: 40px 0;
    width: 500px;
  }
}
@media (min-width: 1440px) {
  .cashback__wrapper {
    padding: 50px 0;
    width: 580px;
  }
}
.cashback__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 150%;
  color: currentColor;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .cashback__title {
    font-size: 30px;
  }
}
@media (min-width: 1150px) {
  .cashback__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .cashback__title {
    font-size: 40px;
  }
}
.cashback__copy {
  margin-top: 10px;
}
.cashback__copy:first-of-type {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .cashback__copy {
    font-size: 16px;
  }
}
@media (min-width: 1150px) {
  .cashback__copy {
    font-size: 18px;
    line-height: 150%;
  }
}
@media (min-width: 1150px) {
  .cashback__copy {
    font-size: 20px;
    line-height: 150%;
    margin-top: 20px;
  }
  .cashback__copy:first-of-type {
    margin-top: 30px;
  }
}
.cashback__order {
  display: block;
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: 1px solid currentColor;
  border-radius: 30px;
  background: inherit;
}
@media (min-width: 768px) {
  .cashback__order {
    margin: 20px auto 0;
    width: 220px;
    font-size: 18px;
  }
}
@media (min-width: 1150px) {
  .cashback__order {
    width: 240px;
    font-size: 18px;
    overflow: hidden;
    transition: all 0.5s;
  }
  .cashback__order::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    transform: translateX(-110%);
    transition: all 0.5s;
  }
  .cashback__order:hover {
    color: #fff;
  }
  .cashback__order:hover::before {
    transform: translateX(0);
  }
  .cashback__order:hover.dark {
    color: #333;
  }
  .cashback__order:hover.dark::before {
    background: #fff;
  }
}
@media (min-width: 1440px) {
  .cashback__order {
    width: 280px;
    margin-top: 30px;
    font-size: 20px;
  }
}

/* _clients.scss */
.clients {
  padding: 30px 0;
  background: inherit;
}
.clients__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (min-width: 768px) {
  .clients__wrapper {
    max-width: 768px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1150px) {
  .clients__wrapper {
    max-width: 1150px;
  }
}
@media (min-width: 1440px) {
  .clients__wrapper {
    max-width: 1150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }
}

/* _footer.scss */
.footer {
  padding: 30px 0;
  color: #fff;
  fill: #fff;
  background: #333;
}
@media (min-width: 768px) {
  .footer__wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1150px) {
  .footer__wrapper {
    max-width: 1150px;
  }
}
@media (min-width: 1440px) {
  .footer__wrapper {
    max-width: 1440px;
  }
}
.footer__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (min-width: 768px) {
  .footer__columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1150px) {
  .footer__columns {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
}
.footer__title {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 1150px) {
  .footer__title {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .footer__title {
    font-size: 20px;
  }
}
.footer__list {
  margin-top: 20px;
}
.footer__item {
  margin-top: 10px;
}
.footer__item:first-of-type {
  margin-top: 0;
}
.footer__item img {
  width: 40px;
  height: 40px;
}
@media (min-width: 1150px) {
  .footer__item a {
    font-size: 16px;
  }
}
.footer__info {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .footer__info {
    margin-top: 50px;
  }
}
.footer__copy {
  margin-top: 10px;
}
@media (min-width: 1150px) {
  .footer__copy {
    margin-top: 20px;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .footer__copy {
    margin-top: 10px;
  }
  .footer__copy:first-of-type {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .footer__image {
    margin-left: 30px;
  }
}
.footer__copyright {
  margin-top: 10px;
  height: 50px;
  width: 130px;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-top: 0;
    height: 100%;
    width: 160px;
    text-align: start;
  }
}
.footer__copyright img {
  width: 100%;
}

/* -modal.scss */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
  fill: #fff;
}
.modal.active {
  z-index: 3;
  background: rgba(0, 0, 0, 0.8);
}
.modal.active div {
  transform: translateY(0);
}
.modal__body {
  position: relative;
  width: 100%;
  padding: 30px 25px;
  background: #fff;
  border: 1px solid #AAA;
  border-radius: 5px;
  transform: translateY(-100vh);
  transition: 0.7s all;
}
.modal__close {
  position: absolute;
  right: 0;
  top: -30px;
}
.modal__title {
  color: #222222;
  font-size: 20px;
  font-weight: 700;
}
.modal__form {
  margin-top: 20px;
}
.modal__input {
  margin-top: 15px;
  display: block;
  width: 100%;
  height: 26px;
  padding-left: 5px;
  border-bottom: 1px solid #AAAAAA;
  font-size: 16px;
}
.modal__input::placeholder {
  color: #AAA;
}
.modal__input:first-of-type {
  margin-top: 0;
}
.modal__select {
  margin-top: 15px;
  display: block;
  height: 26px;
  padding-left: 5px;
  position: relative;
  border-bottom: 1px solid #AAAAAA;
}
.modal__select.success {
  border-color: aqua;
}
.modal__select.success span {
  visibility: hidden;
}
.modal__select span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  font-size: 16px;
  color: #AAAAAA;
}
.modal__select select {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000;
  appearance: none;
}
.modal__select::after {
  content: "";
  display: block;
  height: 10px;
  width: 11px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  z-index: 10;
  background-image: url("../../img/icons/arrow.svg");
}
.modal__select option {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #AAAAAA;
}
.modal__policy {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: #222222;
}
.modal__policy a {
  margin-left: 6px;
  text-decoration: underline;
}
.modal__btn {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #222222;
  border-radius: 30px;
  font-size: 16px;
  color: #222222;
}
.modal__btn:disabled {
  opacity: 0.3;
}
.modal .error {
  border-color: red;
}
.modal .success {
  border-color: aqua;
}

/*# sourceMappingURL=style.css.map */
