/* _clients.scss */
.clients {
  padding: 30px 0;
  background: inherit;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media (min-width: $breakpoint_md) {
      max-width: $breakpoint_md;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
    }

    @media (min-width: $breakpoint_lg) {
      max-width: $breakpoint_lg;
    }

    @media (min-width: $breakpoint_xl) {
      max-width: $breakpoint_lg;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 30px;
    }
  }

  // &__client {}
}